################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
# Visual Studio
.vs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform variable files
*.auto.tfvars

# Sensitive variables
terraform.tfvars

# IDE
.vscode/

